.Menu, .Quiz, .FinQuiz {

    width: 500px;
    height: 500px;
    background-color: lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Menu input, button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

input {
    padding: 5px;
}

button:hover {
    background-color: lightyellow;
    cursor: pointer;
}

.endBtn {
    width: 200px;
}


